.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.5rem;
  border-top: 4px solid antiquewhite;
  border-bottom: 1px solid #999;
  background-color: #000000;
  opacity: 0.8;
  background-image:  linear-gradient(#0c0c0c 0.9px, transparent 0.9px), linear-gradient(to right, #0c0c0c 0.9px, #000000 0.9px);
  background-size: 18px 18px;
}

.container section {
  display: flex;
  align-items: center;
}

.container a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  gap: 1rem;
  font-size: 1.7rem;
  color: white;
}

.logo span {
  color: antiquewhite;
}

.hover:hover {
  color: antiquewhite;
}

.cart {
  background-color: #000;
  padding: 10px;
  gap: 10px;
  font-size: 1.3rem;
}

.currency {
  background-color: #222;
  padding: 10px;
  gap: 10px;
  font-size: 1.3rem;
  position: relative;
}

.user {
  padding: 10px;
  gap: 10px;
  font-size: 0.8rem;
  position: relative;
}

.currencySelector {
  position: absolute;
  margin: 135px 200px 0;
  background-color: #222;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1;
  transition: 0.2s;
  opacity: 0;
}

.currencySelector button {
  margin: 2px;
  width: 100%;
}

.currency:hover .currencySelector {
  margin-left: 0;
  opacity: 1;
}

.currencySelector:hover {
  margin-left: 0;
  opacity: 1;
}

.button {
  padding: 6px 12px;
  font-size: 9px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .currencySelector {
    display: flex;
    flex-direction: row;
    position: static;
    margin: 0;
    opacity: 1;
    padding: 0;
  }
}
