
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 2rem;
}

.headerContainer section {
  display: flex;
  align-items: center;
}

.headerCompanyLogo {
  gap: 1rem;
  font-size: 1.7rem;
  color: #c3c1c1;
}

.headerCompanyLogo span {
  color:aqua;
}

.headerShoppingBag {
  background-color: #000;
  padding: 10px;
  gap: 10px;
  font-size: 1.4rem;
}