.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.alert {
  padding: 1rem;
  background-color: aliceblue;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr; 
  justify-items: center; 
  align-items: center; 
  padding: 1rem;
  background-color: aliceblue;
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  padding: 8px 10px;
  font-size: 11px;
}

