.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.alert {
  padding: 1rem;
  background-color: aliceblue;
}

.cartRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: aliceblue;
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  padding: 8px 10px;
  font-size: 11px;
}

