
div.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.spinner{
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: grey transparent grey transparent;
  border-radius: 50%;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
