.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.productImage {
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: white;
}

.productDetails {
  padding: 2rem;
}

.productDescription {
  margin-bottom: 2rem;
}

.button {
  padding: 8px 20px;
  background-color: #01110A;
  border: 0;
  box-shadow: 0 0 2px 1px #909090;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button:hover {
  background-color: #222;
}

