.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.productImage {
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: white;
}

.productDetails {
  padding: 2rem;
}

.productDescription {
  margin-bottom: 2rem;
}

.button {
  padding: 8px 20px;
  font-size: 18px;
}
